{% extends 'padre.html' %}
{% block content %}
<h2>Stock de productos en {{ deposito.nombre }}</h2>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.producto }}</td>
            <td>{{ stock.cantidad }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No hay productos en este depósito.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
