{% extends 'padre.html' %}
{% load static %}

{% block title %}Control de Calidad | Luminova{% endblock %}



{% block sidebar_content %}
    {% include 'control_calidad/control_calidad_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Panel de Control de Calidad</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-secondary">
                <i class="bi bi-plus-circle-fill"></i> Acción Futura
            </button>
        </div>
    </div>

    <div class="alert alert-info" role="alert">
        <i class="bi bi-info-circle-fill"></i>
        Bienvenido al módulo de Control de Calidad. Este Módulo se desarrollará en futuras versiones.
    </div>
    <div><img src="{% static 'img/back_to_the_future_qc.webp' %}" alt="Control de Calidad" class="img-fluid" style="height: 500px;"></div>

{% endblock %}