{% extends 'padre.html' %}

{% block title %}Usuarios Registrados | Luminova{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Usuarios Registrados</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#crearUsuarioModal">
            <i class="bi bi-plus-circle-fill"></i> Crear Usuario
        </button>
    </div>
</div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-light">
                <tr>
                    <th class="align-middle color-thead" style="background-color: #014BAC; color: white;">ID</th>
                    <th class="align-middle color-thead" style="background-color: #014BAC; color: white;">Nombre de Usuario</th>
                    <th class="align-middle color-thead" style="background-color: #014BAC; color: white;">Email</th>
                    <th class="align-middle color-thead" style="background-color: #014BAC; color: white;">Rol</th>
                    <th class="align-middle color-thead" style="background-color: #014BAC; color: white;">Estado</th>
                    <th class="align-middle color-thead" style="background-color: #014BAC; color: white;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>
                            {% if usuario.groups.first %}
                                {{ usuario.groups.first.name }}
                            {% else %}
                                Sin Rol
                            {% endif %}
                        </td>
                        <td>
                            {% if usuario.is_active %}
                                Activo
                            {% else %}
                                Inactivo
                            {% endif %}
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal{{ usuario.id }}">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#eliminarUsuarioModal{{ usuario.id }}">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="crearUsuarioModal" tabindex="-1" aria-labelledby="crearUsuarioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100" id="crearUsuarioModalLabel">Crear Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="crearUsuarioForm" method="post" action="{% url 'App_LUMINOVA:crear_usuario' %}">
                        {% csrf_token %}
                        <div class="form-group row p-1">
                            <label for="username" class="col-sm-5 col-form-label">Nombre de Usuario:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                        </div>
                        <div class="form-group row p-1">
                            <label for="email" class="col-sm-5 col-form-label">Correo Electrónico:</label>
                            <div class="col-sm-7">
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="form-group row p-1">
                            <label for="rol" class="col-sm-5 col-form-label">Rol:</label>
                            <div class="col-sm-7">
                                <select class="form-select" id="rol" name="rol" required>
                                    <option value="" selected disabled>Seleccionar...</option>
                                    <option value="ventas">Ventas</option>
                                    <option value="compras">Compras</option>
                                    <option value="produccion">Producción</option>
                                    <option value="deposito">Depósito</option>
                                    <option value="control de calidad">Control de Calidad</option>
                                    <option value="administrador">Administrador</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row p-1">
                            <label for="estado" class="col-sm-5 col-form-label">Estado:</label>
                            <div class="col-sm-7">
                                <select class="form-select" id="estado" name="estado" required>
                                    <option value="" selected disabled>Seleccionar...</option>
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer pt-4 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for usuario in usuarios %}
        <div class="modal fade" id="editarUsuarioModal{{ usuario.id }}" tabindex="-1" aria-labelledby="editarUsuarioModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center w-100" id="editarUsuarioModalLabel">Editar Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editarUsuarioForm{{ usuario.id }}" method="post" action="{% url 'App_LUMINOVA:editar_usuario' usuario.id %}">
                            {% csrf_token %}
                            <div class="form-group row p-1">
                                <label for="username{{ usuario.id }}" class="col-sm-5 col-form-label">Nombre de Usuario:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="username{{ usuario.id }}" name="username" value="{{ usuario.username }}" required>
                                </div>
                            </div>
                            <div class="form-group row p-1">
                                <label for="email{{ usuario.id }}" class="col-sm-5 col-form-label">Correo Electrónico:</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" id="email{{ usuario.id }}" name="email" value="{{ usuario.email }}" required>
                                </div>
                            </div>
                            <div class="form-group row p-1">
                                <label for="rol{{ usuario.id }}" class="col-sm-5 col-form-label">Rol:</label>
                                <div class="col-sm-7">
                                    <select class="form-select" id="rol{{ usuario.id }}" name="rol" required>
                                        <option value="" disabled {% if not usuario.groups.first %}selected{% endif %}>Seleccionar...</option>
                                        <option value="ventas" {% if usuario.groups.first and usuario.groups.first.name == 'ventas' %}selected{% endif %}>Ventas</option>
                                        <option value="compras" {% if usuario.groups.first and usuario.groups.first.name == 'compras' %}selected{% endif %}>Compras</option>
                                        <option value="produccion" {% if usuario.groups.first and usuario.groups.first.name == 'produccion' %}selected{% endif %}>Producción</option>
                                        <option value="deposito" {% if usuario.groups.first and usuario.groups.first.name == 'deposito' %}selected{% endif %}>Depósito</option>
                                        <option value="control de calidad" {% if usuario.groups.first and usuario.groups.first.name == 'control de calidad' %}selected{% endif %}>Control de Calidad</option>
                                        <option value="administrador" {% if usuario.groups.first and usuario.groups.first.name == 'administrador' %}selected{% endif %}>Administrador</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row p-1">
                                <label for="estado{{ usuario.id }}" class="col-sm-5 col-form-label">Estado:</label>
                                <div class="col-sm-7">
                                    <select class="form-select" id="estado{{ usuario.id }}" name="estado" required>
                                        <option value="" disabled {% if usuario.is_active is not defined %}selected{% endif %}>Seleccionar...</option>
                                        <option value="Activo" {% if usuario.is_active %}selected{% endif %}>Activo</option>
                                        <option value="Inactivo" {% if not usuario.is_active %}selected{% endif %}>Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer pt-4 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for usuario in usuarios %}
        <div class="modal fade" id="eliminarUsuarioModal{{ usuario.id }}" tabindex="-1" aria-labelledby="eliminarUsuarioModalLabel{{ usuario.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title w-100 text-center" id="eliminarUsuarioModalLabel{{ usuario.id }}">
                            <i class="bi bi-exclamation-triangle-fill me-2"></i>Eliminar Usuario
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p class="fs-5 mb-4">¿Estás seguro de que deseas eliminar al usuario <strong>{{ usuario.username }}</strong>?</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <form id="eliminarUsuarioForm{{ usuario.id }}" method="post" action="{% url 'App_LUMINOVA:eliminar_usuario' usuario.id %}">
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
